@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #ff8a5b;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;;
    --fonte-secundaria: 'Montserrat', sans-serif;;
}

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);


  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.cabecalho__menu__link__ativo{
    font-family: var(--fonte-secundaria);
    font-size: 1.3rem;
    font-weight: 600;
    color: #f6f6f6;
    text-decoration: none;
}

.cabecalho__menu__link__ativo:hover{
    text-decoration: underline;
}

.cabecalho__menu__link:hover {
    text-decoration: underline;
}



.destaque-titulo {
    color: var(--cor-tercearia);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__centro {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 82px;

}

.apresentacao__conteudo__centro{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo__centro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);

}

.apresentacao__conteudo__subtitulo {
    font-size: 1.7rem;
    font-family: var(--fonte-primaria);
    padding: 30px;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);

}

.apresentacao__links__subtitulo {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__imagem {
    width: 32px;
    height: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}



.apresentacao__imagem {
    width: 50%;
}

.rodape {
    gap: 20px;
    padding: 20px;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;

}

.rodape_texto{
    color: #f6f6f6;
}

.apresentacao_links_rodape {
    justify-content: center;
    gap: 20px;
    width: 50%;
    text-align: center;
    padding: 21.5px 0px;
    text-decoration: none;
}

.topo_link{
    color: #f6f6f6;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

}